apiVersion: v1
kind: ServiceAccount
metadata:
  name: gas-fakes-ksa
  namespace: default
  annotations:
    iam.gke.io/gcp-service-account: gas-fakes-sa@gas-fakes-474508.iam.gserviceaccount.com
---
apiVersion: batch/v1
kind: Job
metadata:
  name: gas-fakes-job
  namespace: default
spec:
  template:
    spec:
      serviceAccountName: gas-fakes-ksa
      containers:
      - name: gas-fakes-container
        image: europe-west1-docker.pkg.dev/gas-fakes-474508/gas-fakes-repo/gas-fakes-job
        env:
        - name: STORE_TYPE
          value: "UPSTASH"
        - name: LOG_DESTINATION
          value: "CONSOLE"
        - name: DEFAULT_SCOPES
          value: "https://www.googleapis.com/auth/userinfo.email,openid,https://www.googleapis.com/auth/cloud-platform"
        - name: EXTRA_SCOPES
          value: "https://www.googleapis.com/auth/drive,https://www.googleapis.com/auth/script.external_request,https://www.googleapis.com/auth/spreadsheets"
        - name: QUIET
          value: "false"
        - name: UPSTASH_REDIS_REST_URL
          value: "https://generous-eft-22891.upstash.io"
        - name: UPSTASH_REDIS_REST_TOKEN
          value: "AVlrAAIncDFlMmJjOTY0MWIzNDA0NzU0OTNlNTI1ODllYTVkMjY5Y3AxMjI4OTE"
        - name: GOOGLE_CLOUD_PROJECT
          value: "gas-fakes-474508"
        - name: AUTH_TYPE
          value: "dwd"
        - name: GOOGLE_SERVICE_ACCOUNT_NAME
          value: "gas-fakes-sa"
        - name: DRIVE_TEST_FILE_ID
          value: "1iOqRbA6zbV3ry73iEf4y9cygtDchJvAh"
        - name: GOOGLE_WORKSPACE_SUBJECT
          value: bruce@mcpher.com
      restartPolicy: Never
  backoffLimit: 0
